HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### TestNG
/test-output

### ignore config file
/src/main/resources/application.properties

### ignore logs folders
/src/main/resources/logs/

# ignore dummy data
/src/main/java/com/spring/codeagenda/utils/DummyData.java
