<DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Psi Consulta - Pacientes</title>
	<!-- CSS and JS Bootstrp -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>

<header>
	<nav class="navbar sticky-top navbar-light bg-light">
 		<a class="navbar-brand" href="#">Psi Consulta - Pacientes</a>
	</nav>
</header>

<section>
	<div class="container" style="width: 60%; padding-bottom: 30px;">
		
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page"><a href="/pacientes">Pacientes</a></li>
		    <li class="breadcrumb-item" aria-current="page">Atualiza Paciente - <span th:text="${paciente.nomeCompleto}"></span> - cod.: <span th:text="${paciente.codigoPaciente}"></span></li>
		  </ol>
		</nav>
		
		<div>
			<th:block th:include="Paciente/mensagemValidacao"></th:block>
			<form method="put" th:object="${paciente}" th:action="@{/pacientes}" action="#">
				<input type="hidden" th:field="*{id}">
				<div class="form-group">
                    <input type="text" class="form-control" th:field="*{nomeCompleto}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{endereco}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{telefone}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
				<div class="form-group">
                    <input type="text" class="form-control" th:field="*{dataInicio}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{dataNascimento}">
                </div>
                <textarea id="summernote" type="text" class="form-control" th:field="*{prontuario}"></textarea>

                <small class="form-text text-muted">(*) Campos obrigatórios</small>
                
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Salvar</button>
                <a href="/pacientes" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>	

			</form>
		</div>
		<div></div>

	</div>		
</section>

<script>
    $('#summernote').summernote({
        placeholder: 'Texto',
        tabsize: 2,
        height: 300
    });
</script>

</body>
</html>